@media screen and (max-width: 600px) {

  body {
    margin: 0;
    padding: 0;
    animation: fade-in 0.4s;
  }

  header {
    width: auto;
    padding: 20px;

  }

  #head {
    height: auto;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #head-text #p {
    width: 90%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.2rem;
  }

  #p {
    width: 100px;
  }

  #slogan span {
    font-size: 24px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
  }

  .marketing01,
  .marketing02,
  .marketing03 {
    padding: 10px; 
    animation:fake-out;
    opacity: 1;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }

  .text-mark1,
  .text-mark2,
  .text-mark3 {
    font-size: 1.rem;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }

  .product3 {
    animation: none;
    opacity: 0;
    height: 350px;
  }

  footer {
    height: 50px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
  }

}