@media screen and (max-width: 600px) {

  .sidebar {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    animation: fade-in 0.4s;
  }

  header {
    width: auto;
    padding: 20px;

  }

  #head {
    height: 100px;
    overflow: hidden;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #slogan {
    margin: 0;
    font-size: 1px;
    height: 100px;
    width: 300px;
  }

  h1 {
    margin: 0;
  }

  #p {
    height: 100px;
    text-align: center;
    margin: 0;
    font-size: 2rem;
  }

  .product3 {
    animation: none;
    opacity: 1;
    height: 350px;
  }

  .marketing01,
  .marketing02,
  .marketing03 {
    animation:none;
    padding: 10px; 
    opacity: 1;
    box-sizing: border-box;
    overflow: hidden;
  }

  .text-mark1,
  .text-mark2,
  .text-mark3 {
    font-size: 1.rem;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    animation: none;
    opacity: 1;
  }



  footer {
    height: 50px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
  }

}