
  @media screen and (max-width: 700px) {
    html {
      width: 485px;
    }


    body {
      margin: 0;
      padding: 0;
      animation: fade-in 0.4s;
      overflow: hidden;
      width: 485px;

    }

    header {
      width: 485px;
      overflow: hidden;
    }
    
    #head {
      height: 300px;
      width: 485px;
      overflow: hidden;
    }

    #head-text {
      font-size: 1rem;
    }
  
    #slogan {
      font-size: 0.1rem;
    }
  
    .marketing01,
    .marketing02,
    .marketing03{
      padding: 0;
      width: 445px;
      overflow: hidden;
    }
  
    .text-mark1,
    .text-mark2,
    .text-mark3 {
      font-size: 24px;
      text-align: center;
    }
  
    .product {
      animation: none;
      opacity: 1;
      width: 458px;
    }

    footer {
      width: 445px;
      overflow: hidden;
    }
  }