
  @media screen and (max-width: 700px) {
    
    body {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      animation: fade-in 0.4s;
    }

    header {
      width: 485px;
      overflow: hidden;
    }
    
    #head {
      height: 300px;
      width: 485px;
      overflow: hidden;
    }
  
    #slogan h1 {
      font-size: 0.5rem;
      
    }
  
    #hero-text p {
      font-size: 24px;
    }
  
    .marketing01,
    .marketing02,
    .marketing03{
      padding: 0;
      width: 445px;
      overflow: hidden;
    }
  
    .text-mark1,
    .text-mark2,
    .text-mark3 {
      font-size: 24px;
      text-align: center;
    }
  
    .product {
      animation: none;
      opacity: 1;
      width: 458px;
    }
  }